:root {
    --main-color: #fff;
    --element-radius: 1em;
    --obs-background: #181819;
    --obs-background-2: #181819;
    --input-background: #232629;
    --input-color: #C8C7C8;
    --obs-button-background: #162458;
    --obs-button-border: #233166;
    --obs-button-hover-background: #581624;
    --obs-button-hover-border: #84162d;
    --obs-button-color: #fff
  }